<div class="wrapper">
    <header class="header" role="banner">
        <div class="header-wrap">
            <a href="/" class="header__logo"></a>

            <div class="header-menu">
                <a href="/" class="header-menu__item header-menu__item--green header-menu__item--first">play</a>

            </div>
        </div>
    </header>


    <main class="content">
        {% block body %}
        {% endblock %}
    </main>

    <div class="footer-buffer"></div>
</div>

<footer class="footer">
    <div class="footer__copy">&copy; {{ "now" | date("Y") }} hohoho</div>
    <div class="footer-links">
    </div>
</footer>


{% block script %}
{% endblock %}

</body>
</html>
