{% extends "base.html.twig" %}
{% block body %}
  <section>
    <h1 class="content__title">Sign in</h1>

    <form class="form form-signup" id="login" name="login" role="form" novalidate>
      <div class="content__text">or</div>
      <div class="wrap_email">
        <input type="email" class="input" id="email" name="email" data-rules="required|email" data-msg-custom="Email" placeholder="Enter your email">
      </div>
      <input type="submit" class="btn" value="Sign in">
      <p style="margin-top: 30px;">Not registered yet? <a style="color: #000; font-weight: bold;" href="/user/subscribe">Register</a></p>
    </form>
  </section>
{% endblock %}
{% block script %}
  <script>
      function ajax(url, method, data, callback) {
          var xhr = new XMLHttpRequest();
          xhr.open(method, url, true);
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.onreadystatechange = function () {
              if (this.readyState == 4) {
                  if (this.status == 200)
                      callback(this.responseText);
              }
          };
          xhr.send(data);
      }

      new Inspect('login').make(function (form) {
          var email = document.getElementById('email').value;
          var messages = document.querySelectorAll('.inspect-message');

          for (var i = 0; i < messages.length; i++) {
              messages[i].remove();
          }

          ajax('/user/exists?=' + email, 'GET', null, function (data) {
              if (data == 'false') {
                  var body = 'email=' + encodeURIComponent(document.querySelector('#email').value);

                  ajax('{{ url("user:login") }}', 'POST', body, function (data) {
                      if (data == 'ok') {
                          document.location.href = "/game"
                      }  else {
                          var msg = document.createElement('div');
                          msg.className = "inspect-message";
                          msg.innerHTML = "<span class=\"inspect-message-text\" style=\"color: red;\">"+data+"</span>"
                          document.querySelector('.wrap_email').appendChild(msg)
                      }
                  })
              }
              else {
                  var msg = document.createElement('div');
                  msg.className = "inspect-message";
                  msg.innerHTML = "<span class=\"inspect-message-text\" style=\"color: red;\">Email already exist!</span>"
                  document.querySelector('.wrap_email').appendChild(msg)
              }
          });
      });
  </script>
{% endblock %}